.w-inspection .status {
    display: inline-block;
    padding: 10px 20px;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    font-size: 14px;
    color: #fff;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: 1px 1px 5px #ddd;
    position: fixed;
    top:10px;
    right:10px;
}

.w-inspection .status span {
    font-size: 14px;
    vertical-align: middle;
}

.w-inspection .status .switch {
    width: 60px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 50px;
    display: inline-block;
    vertical-align: middle;
    position:relative;
    overflow:hidden;
    cursor:pointer;
    transition: 1s;
}


.w-inspection .status .switch b {
    width:16px;
    height:16px;
    background-color:#fff;
    border-radius:50%;
    display:block;
    position:absolute;
    top:2px;
    left:2px;
    transition:1s;
}

.w-inspection .status .switch.on {
    border-color:#ff0000;
}

.w-inspection .status .switch.on b {
    left:calc(100% - 16px - 2px);
    background-color:#ff0000;
}

.w-inspection .list {
	position: fixed;
	top:70px;
	right:10px;
}

.w-inspection .list div.a {
	margin-bottom: 0px;
}

.w-inspection .list div.a:after {
	content:"";
	display:block;
	clear:both;
}


.w-inspection .list div.a .item {
	display: inline-block;
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	padding:10px 35px;
	color:#fff;
	font-size:14px;
	border-radius:50px;
	margin-bottom: 5px;
	float: right;
}

.w-inspection .list div.a .item b {
	font-weight: normal;
	background-color: #fff;
	border-radius:50px;
	color:#333;
	padding-left:10px;
	padding-right:10px;
	overflow: hidden;
	position: relative;
	vertical-align:middle;
	margin-left:5px;
}

.w-inspection .list div.a .item b:before {
	content:"";
	display:inline-block;
	background-color:#333;
	width:14px;
	height:5px;
	border-radius:150px;
	vertical-align:middle;
	margin-right:5px;
	position:relative;
	top:-1px;
}

.w-inspection .list div.a .item b.make:before {
	background-image: linear-gradient(to right, #f77062 0%, #fe5196 100%);
	color:#fff;
}

.w-inspection .list div.a .item b.publish:before {
	background-image: linear-gradient(to left, #0fd850 0%, #f9f047 100%);
	color:#333;
}

